.git/**
.vscode/**
.vscode-test/**
.tmp/**

.DS_Store
.gitignore
.vscodeignore

out/**
src/**
node_modules/**
examples/**

package-lock.json
tsconfig.json
tsconfig.test.json
*.vsix
*.lock

**/*.test.js
**/*.test.ts
**/*.d.ts
**/*.map